{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        <section class ="allProducts">
            <div>
                <h1>LASTEST RELEASES</h1>
                <hr>
            </div>

            <div class= "card">

                <article class = "productCard">
                    <a href="" >
                    <img class="img imgProduct" src="">
                    <img class="imgAlt imgProduct cache" src="">
                    </a>
                    <div class="description">
                        <h1 ><a class ="bandName" href="" class="band"></a></h1>
                        <h2 ><a class ="albumTitle" href="" ></a></h2>
                        <p>Release Date:</p>
                        <p>type: </p>
                        <p>Avail:</p>
                        <p>Price: </p>
                    </div>
                </article>

            </div>
        </section>

        <section class ="allProducts">
            <div>
                <h1>RELEASES</h1>
                <hr>
            </div>

            <div class= "card">

                <article class = "productCard">
                    <a href="" >
                    <img class="img imgProduct" src="">
                    <img class="imgAlt imgProduct cache" src="">
                    </a>
                    <div class="description">
                        <h1 ><a class="band bandName" href="" ></a></h1>
                        <h2 ><a class ="albumTitle" href="" ></a></h2>
                        <p>Release Date: </p>
                        <p>type: </p>
                        <p>Avail: </p>
                        <p>Price: </p>
                    </div>
                </article>

            </div>
        </section>

    </div>

{% endblock %}
