{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <section class="allBands">
        <div>
            <h1>LE CEPE RECORDS ARTISTS</h1>
            <hr>
        </div>

        <div class="allBandsArticle" >

            <article>

                <a href="" ><img class ="bandImg" src=""></a>
                <h4>Mon Groupe</h4>

            </article>


        </div>

    </section>

</div>
{% endblock %}
